label{
    margin-bottom: 1rem;
    padding-right: 1rem;
}

input{
    margin-bottom: 1rem;
}

button{
    margin-bottom: 1rem;
}

a{
    margin-bottom: 1rem;
}

h1{
    margin-bottom: 4rem;
}

#workshift_date{
    margin-bottom: 1rem;
}